@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
    @apply !bg-light-colorPrimary dark:!bg-dark-colorPrimary;
}

.animate-enter {
    @apply opacity-0 scale-[1.2] blur-[2px];
}

.animate-enter-active {
    @apply opacity-100 scale-100 blur-[0] ease-in-out duration-[300ms];
}

.animate-exit {
    @apply opacity-100 scale-100 blur-[0];
}

.animate-exit-active {
    @apply opacity-0 scale-[0.8] blur-[2px] ease-in-out duration-[300ms];
}

::view-transition-old(root),
::view-transition-new(root) {
    @apply animate-none mix-blend-normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
    @apply z-[1];
}

::view-transition-new(root),
.dark::view-transition-old(root) {
    @apply z-[9999];
}
